.cartItems{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    place-items: center;

}

.cartItem{
    height: 150px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5%;
    border: 1px solid gainsboro;
    text-align: center;
}

.cartItem img{
    height: 100px;
    width: 150px;
    object-fit: contain;
}

.cartItem .price{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

.cartItem .quantity .input{
    text-align: center;
    width: 30px;
}

.cartItem .quantity button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(100, 100, 100);
    font-size:16px;
    color: white;
    width: 20px;
    border: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.cartItem .quantity button:hover{
    background-color: rgb(65, 65, 65);
}

.checkout{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-left: 40%;
}


.checkout-buttons button{
    margin-right:10px ;
    margin-top: 10px;
    background-color: black;
    text-align: center;
    color: white;
    border: 0;
    height: 40px;
    width: 140px;
    border-radius: 10px;
    
}

h1{
    text-align: center;
    padding-bottom: 20px;
}