.navbar{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.links{
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.links a{
    color:white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
}

