.navbar{
    display:flex;
    background-color: black;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}

.links{
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.links a{
    color:white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
}

.links a:hover{
    background-color: lightslategrey;
}

