* { margin: 0;
    padding: 0;
    scroll-behavior: smooth; }

.products{
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 50px;
    justify-content:space-around;
}

.product img{
    width: 250px;
    height: 250px;
    align-items: center;
    padding-top: 5px;
}

.product{
    border: 1px gray solid;
    border-radius: 10%;
    text-align: center;
}

.product p{
    padding-bottom: 5px;
}